/* Estilo do corpo da página */
        body{
            font-family: Arial, Helvetica, sans-serif; /* Fonte padrão */
            background-image: linear-gradient(to right, #ede3d7,#ede3d7); /* Fundo com gradiente */
        }

        /* Caixa do login */
        .login-card {
        background-color: #ffffff;
        border-radius: 18px; /* Cantos arredondados */
        padding: 28px 28px 28px; /* Espaçamento interno */
        width: 360px;
        max-width: 94vw; /* Largura máxima */
        margin: auto;/
        }

        /* Borda do formulário */
        fieldset{
            border: 3px solid #d87b6d; /* Borda */
        }

        /* Título dentro da borda */
        legend{
            border: 1px solid #d87b6d;
            padding: 10px;
            text-align: center;
            background-color: #d87b6d;
            border-radius: 5px;
        }

        /* Container para inputs */
        .inputBox{
            position: relative;
        }

        /* Estilo dos campos de entrada */
        .inputUser{
            background: none; /* Sem fundo */
            border: none; /* Sem borda */
            border-bottom: 1px solid #d87b6d; /* Apenas linha inferior */
            outline: none; /* Remove a borda padrão ao clicar */
            color: rgb(0, 0, 0);
            font-size: 15px;
            width: 100%;
            letter-spacing: 2px; /* Espaçamento entre letras */
        }

        /* Estilo dos rótulos (labels) */
        .labelInput{
            position: absolute;
            top: 0px;
            left: 0px;
            pointer-events: none; /* Impede clique no label */
            transition: .5s; /* Animação suave */
        }

        /* Efeito flutuante no label quando o input está preenchido ou em foco */
        .inputUser:focus ~ .labelInput,
        .inputUser:valid ~ .labelInput{
            top: -20px;
            font-size: 12px;
            color: #d87b6d;
        }

        /* Botão de envio */
       .btn{
            background-image: linear-gradient(to right,#d87b6d, #d87b6d);
            width: 100%;
            border: none;
            padding: 15px;
            color: white;
            font-size: 15px;
            cursor: pointer; /* Muda o cursor ao passar o mouse */
            border-radius: 10px;
        }

        /* Efeito hover no botão */
        .btn:hover{
            background-image: linear-gradient(to right,#8c2d21, #8c2d21);
        }