/* Cor de fundo da página */
body {
    background-color: #ffeae3;
}

/* Caixa do login */
.login-card {
    background-color: white;
    border-radius: 18px; /* Cantos arredondados */
    padding: 28px 28px 28px; /* Espaçamento interno */
    width: 360px;
    max-width: 94vw; /* Largura máxima */
    margin: auto;
}

/* Campos de formulário */
.form-control {
    background-color: #f7d9cf;
    border: none;
    border-radius: 12px;
}

/* Área onde fica o ícone ao lado do campo */
.input-group-text {
    background-color: #f7d9cf;
    border: none;
    cursor: pointer; /* Mostra que pode clicar */
}

/* Botões personalizados */
.btn-custom {
    background-color: #d87b6d;
    color: white;
    border-radius: 12px;
    border: none;
    padding: 0.6rem;
    font-weight: bold;
}

/* Efeito ao passar o mouse no botão */
.btn-custom:hover {
    background-color: #c46b5e;
}

/* Link "Esqueceu sua senha?" */
.text-link {
    color: #d87b6d;
    text-decoration: none;
    font-size: 0.9rem;
}

/* Quando passa o mouse no link */
.text-link:hover {
    text-decoration: underline;
}
/* Botão Voltar */
.btn-voltar {
    width: 90%;
    padding: 0.6px;
    border-radius: 12px;
    border: 2px solid #6c757d;
    background-color: transparent;
    color: #6c757d;
    font-weight: bold;
    transition: 0.3s ease;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.btn-voltar:hover {
    background-color: #6c757d;
    color: white;
}