body {
    margin: 0;
    padding: 0;
    background: #fbece2;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background: #d87b6d;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.navbar .icons i {
    font-size: 1.4rem;
    margin-left: 15px;
    cursor: pointer;
}

/* FILTROS */
.filter-container {
    display: flex;
    gap: 10px;
    margin: 20px auto;
    max-width: 900px;
}

.btn {
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #d0d0d0;
}

.btn.active {
    background: #d87b6d;
    color: white;
}

/* PRINCIPAL */
main {
    max-width: 900px;
    margin: auto;
    padding: 10px;
}

/* TOTAL CARD */
.total-card {
    background: #e7dcd3;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-card .number {
    font-size: 2rem;
    margin: 5px 0 0;
}

.icon-big {
    font-size: 3rem;
    color: #8b4a3a;
}

/* CARD DO LIVRO */
.loan-card {
    background: #e7dcd3;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.loan-card img {
    width: 120px;
    border-radius: 10px;
}

/* INFO CARD */
.info-card {
    background: #e7dcd3;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
}

.info-card h3 {
    margin-bottom: 10px;
}
